extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBw6BYEWm9ft20VkdRBtctm5pTSccf52Ro")
  script(src='about.bundle.js')
block content
  include ../common/main-header.pug
  main.about
    section.about__persona.persona
      +title('Обо мне', 'about')
      +image("content/user.jpg", "Владимир Астахов (фото)", "persona__photo")
      +subtitle('Кто я', 'subtitle--persona')
      .persona__info
        p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
     
    section.about__skills.skills
      +subtitle('Чем я могу быть вам полезен', 'subtitle--skills')
      span.skills__text Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
      #skills-component
  .map
    .map__gmap#gmap
    .map__contacts
      +subtitle('Контакты', 'subtitle--map')
      ul.map__contacts-list
        li.map__contact-item.map__contact-item--skype skype_kdn
        li.map__contact-item.map__contact-item--mail astahov@gmail.com
        li.map__contact-item.map__contact-item--phone +7 931 200 93 24
        li.map__contact-item.map__contact-item--address Новосибирск, ул. Инская, д.14