header.main-header
  ul.socials.main-header__socials
    each item in ['vk', 'gh', 'ln']
      li.socials__item
        a.socials__link.socials__link--main(href="#", class=`socials__link--`+item)
  .main-header__center.container
    +image("content/user.jpg", "Владимир Астахов (фото)", "main-header__photo")
    h1.main-header__title Владимир Астахов
    h2.main-header__subtitle Личный сайт веб разработчика
  button.down-btn(type="button")