@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

@font-face {
  font-family: 'FontAwesome';
  src: url('/assets/fonts/FontAwesome.woff2') format('woff2'),
    url('/assets/fonts/FontAwesome.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'SansusWebissimo';
  src: url('/assets/fonts/SansusWebissimo.woff2') format('woff2'),
    url('/assets/fonts/SansusWebissimo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@mixin FontAwesome() {
  font-family: 'FontAwesome',
    Helvetica,
    sans-serif;
}

@mixin SansusWebissimo() {
  font-family: 'SansusWebissimo',
    Helvetica,
    sans-serif;
}