@media (max-width: 768px) {
  
  // About page

  .about {
    flex-direction: column;
    padding-top: 30px;
  }

  .about__persona {
    margin-top: -150px;
  }

  .maintitle_about {
    margin-top: 70px;
  }

  .about__skills {
    margin-top: 0;
  }

  .skills__text {
    max-width: 80%;
    text-align: center;
    padding-left: 0;
  }

  .skills__list {
    align-items: center;
  }

  .skills__title {
    text-align: center;
  }

  .skills__row {
    justify-content: center;
    align-content: center;
    align-items: center;

    .skills__skill {
      margin-right: 0;
      margin: 0 17px;
    }
  }

  // Footer

  .footer__container {
    flex-wrap: wrap;
  }

  .footer__col:not(:first-child) {
    border-left: 0;
  }

  // My works page

  .slider {
    flex-direction: column-reverse;
    width: 100%;
  }

  .slider__left {
    width: 100%;
    min-height: auto;
    .subtitle {
      font-size: 30px;
      padding: 50px 0 20px;
    }
    .slider__used {
      margin-bottom: 38px;
    }
  }

  .slider__cite-btn {
    margin-bottom: 60px;
  }

  .slider__right {
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: auto;
    padding: 80px;
  }

  .slider__right-main {
    flex: 0;
  }

  .abouts {
    padding: 0 24px;
  }

  .abouts__up-btn {
    margin-bottom: 45vh;
  }

  .blog__nav {
    display: none;
  }

  .blog__article:last-child {
    margin-bottom: 20vh;
  }
}

@media (max-width: 320px) {

  body {
    font-size: 14px;
  }

  .maintitle {
    font-size: 35px;
  }

  .subtitle {
    font-size: 21px;
    padding-left: 0;
    padding-right: 0;
  }

  // footer 

  .footer__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__col {
    justify-content: center;
    padding: 0;
    align-items: center;
    text-align: center;

    &:not(:first-child) {
      margin-top: 0;
    }

    &:not(:last-child) {
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(255,255,255,.2);
    }

    .socials {
      justify-content: center;
    }
  }
  
  // welcome page

  .welcome__container,
  .auth__container,
  .welc-menu__list {
    max-width: 95vw;
  }

  .hello,
  .auth {
    min-width: auto;
  }

  .hello__name,
  .hello__descr {
    text-align: center;
  }

  .welc-menu {
    max-width: auto;
  }

  .welc-menu__link {
    font-size: 14px;
    padding: 15px 15px;
  }

  .auth-btn {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  // my works page

  .slider__left {
    .subtitle {
      font-size: 21px;
    }
  }

  .abouts__list {
    flex-direction: column;
  }

  .abouts__item {
    margin-bottom: 40px;
  }

  .abouts__up-btn {
    margin-bottom: 55vh;
  }

  .abouts__form {
    width: 90vw;

    .welc-menu {
      width: 90vw;
    }

    .welc-menu__list {
      width: 90vw;
    }

    .welc-menu__button {
      padding: 14px;
    }
  }

  // about page

  .about__persona {
    padding: 0;
    margin-top: -120px;
  }

  .persona__info {
    padding: 0 10px;
    font-size: 14px;
    text-align: justify;
  }

  .about__skills {
    padding-left: 0;
    padding-right: 0;
  }

  .skills__row {
    .skills__skill {
      margin: 0 5px;
    }
  }

  .map__contacts {
    top: 0%;
    transform: translate(-50%,0%);
    padding: 35px 65px;
  }

  // blog

  
}