.abouts {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url('/assets/images/bg/works-about-bg.jpg') bottom center no-repeat;
  background-size: 100%;
}

.abouts__wrapper-bg {
  background: url('/assets/images/bg/list.png') top center no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

.abouts__list {
  max-width: 780px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 70px;
}

.abouts__item {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.abouts__item:not(:last-child) {
  margin-right: 25px;
}

.abouts__photo {
  width: 77px;
  max-height: 77px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 30px;
}

.abouts__text {
  font-style: italic;
  color: #5d5a55;
  margin-bottom: 27px;
}

.abouts__job {
  display: block;
  color: #5d5a55;
  font-style: italic;
}

.abouts__name {
  display: block;
  font-weight: 700;
  font-style: italic;
  color: $dark_green;
}

.abouts__form-wrapper {
  position: relative;
  overflow: hidden;
  margin: 0 auto 70px;
  max-width: 380px;
}

.abouts__form {
  max-width: 380px;
  padding: 32px 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.abouts__bg {
  background: url('/assets/images/bg/works-about-bg.jpg') bottom center no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.abouts__input {
  width: 100%;
  background-color: $white;
  opacity: 0.85;
  color: #5d5a55;
  margin-bottom: 20px;
  border: none;
  padding: 16px 20px;
  border-radius: 30px;
}

.abouts__input--textarea {
  resize: vertical;
  min-height: 140px;
}