.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/assets/images/bg/forest_prel_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 9997;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.preloader__svg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  z-index: 9998;
}

.preloader__svg-first {
  stroke: #fff;
  animation: spin 3s infinite ease-in-out;
  animation-delay: 1s;
}

.preloader__svg-second {
  stroke: #fff;
  animation: spin 3s infinite ease-in-out;
  animation-delay: 1s;
}

.preloader__svg-third {
  stroke: #fff;
  animation: spin 3s infinite ease-in-out;
}

@keyframes spin {
  from {
    stroke-dasharray: 0 500;
  }

  to {
    stroke-dasharray: 500 0;
  }
}

.preloader__text {
  color: #fff;
  font-size: 2.5em;
  margin-bottom: -1em;
  z-index: 9999;
}